@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:rgb(82 82 82);
    color: rgb(132 204 22);
}

.shopping-carts{
    /* wtf is linear gradient */
    background: linear-gradient(rgba(50,50,50,.5), rgba(50,50,50,.5)), url("/cart.jpeg");
    background-size: cover;
    background-position: 0 45%;
}